.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
*.iml
*.history
package-lock.json
yarn.lock
src/views/gridManagement/compontents/statisticalInfo/statisticsDays\.vue

src/utils/common\.js

\{console\.warn\(e\.stack\)}\)

#dist\.zip
#dist\.rar
#admin_community\.rar
#admin_community\.zip

*.rar
*.zip
